.eachslideeffect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 450px;
  }
  
  .eachslideeffect span {
    padding: 20px;
    font-size: 20px;
    background: #050000;
    text-align: center;
  }