.teachers{
  display: flex;
  flex-wrap: wrap;
}
.teacherContainer{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  border: 1px solid black;
  height: 250px;
  width: 200px;
}
.imgContainer{
  height: 225px;
}
.name{
  margin: 40px;
  font-weight: bolder;
}